// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-bg: #fafafa;
$color-font: #565656;
$font-light: #A3A5AE;
$color-button: #273142;
$button-hover: #556270;
$color-selected: #fcd0cf;
$color-line: #f99d9a;

